<html>
    <head>
         {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/css/global.css' %}">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap"
      rel="stylesheet">    
    </head>
    <body>
        {% include 'navbar.html' %}
        <!-- <a  href="/creategroup" class="btn btn-primary">Create Group</a> -->
        <div class="container mt-5">
            
            <div class="row mt-2">
                <img class="col-sm-6" src="{% static 'pages/images/tasks.png' %}" >
                <div class="col-sm-6">
                    <h5 class="task-heading mb-4">Manage tasks with ease.</h5>
                    <div class="row justify-content-center">
                      
                      
                      </div>
                    </div>
           
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>