<!DOCTYPE html>
<html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
   <link rel="stylesheet" href="{% static 'accounts/css/global.css' %}">  
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
</head>


<body>
    {% include 'navbar.html' %}
    <div class='d-flex justify-content-center'>
    <div class=" auth-container reg-container mt-5">
        <h1 class="reg-heading text-center heading-font">Register</h1>
        <form method="POST">
          
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-check form-switch admin-checkbox-container">
                <input class="form-check-input admin-checkbox" type="checkbox" name="adminUserCheckbox" id="adminUserCheckbox">
                <label class="form-check-label label-checkbox" for="flexSwitchCheckDefault">Are you a Teacher.</label>
              </div>
           
                <button type="submit" class="btn btn-primary submit-btn mt-3">Submit</button>  
        </form>
</div>
</div>  
{% include 'footer.html' %}

</body>
</html>