<html>
    <head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/css/global.css' %}">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&family=Workbench&display=swap" rel="stylesheet">
    
<body>
    {% include 'navbar.html' %}
    <div class="container form-container">
        <h2 class="text-center heading-font-1">Create Exam</h2>
        <form method="post" action="{% url 'create_exam' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title:</label>
                <input type="text" class="form-control" id="id_title" name="title" required>
                {% if form.title.errors %}
                    <div class="invalid-feedback">
                        {{ form.title.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                <textarea class="form-control" id="id_description" name="description" rows="3" required></textarea>
                {% if form.description.errors %}
                    <div class="invalid-feedback">
                        {{ form.description.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_duration">Duration (in minutes):</label>
                <input type="number" class="form-control" id="id_duration" name="duration"  required>
                {% if form.duration.errors %}
                    <div class="invalid-feedback">
                        {{ form.duration.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="id_visibility" name="visibility" >
                <label class="form-check-label" for="id_visibility">Visible to Students</label>
                {% if form.visibility.errors %}
                    <div class="invalid-feedback">
                        {{ form.visibility.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary my-2">Create Exam</button>
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>
