<html>
    <head>
         {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'global.css' %}">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap"
      rel="stylesheet">    
    </head>
    <body>
        {% include 'navbar.html' %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <title>Exam List</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        </head>
        <body>
            <div class="container">
                <h1 class="mt-5 mb-4"><img width="65px" src="{% static "images/list.png" %}">Exam List</h1>
                <div class="list-group">
                    {% for exam in exams %}
                    <div class="exam-list">
                        <div class="d-flex justify-content-between">
                            <h5 class="exam-title mb-1">{{ exam.title }}</h5>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'exam' id=exam.id %}" class="btn btn-primary btn-sm mr-2">Edit</a>
                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                <a href="/results/{{exam.id}}" class="btn btn-success btn-sm mx-2">Results</a>
                            </div>
                        </div>
                        <p class="mb-1">{{ exam.description }}</p>
                        <small>Duration: {{ exam.duration }} minutes</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </body>
        </html>
        
        {% include 'footer.html' %}
    </body>
</html>