<html>
    <head>
         {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'pages/css/global.css' %}">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap"
      rel="stylesheet">    
    </head>
    <body>
        {% include 'navbar.html' %}
        
        <div class="container mt-5">
            <div class="container">
                <h1 class="mt-5 mb-4"><img width="65px" src="{% static "pages/images/list.png" %}">Exam List</h1>
                <div class="list-group">
                    {% for exam in exams %}
                    <div class="exam-list">
                        <div class="d-flex justify-content-between">
                            <h5 class="exam-title mb-1">{{ exam.title }}</h5>
                            <div class="d-flex align-items-center">
                                <a href="{% url 'examination' id=exam.id %}" class="btn btn-primary btn-sm mx-3">Start Exam</a>
                               
                            </div>
                        </div>
                        <p class="mb-1">{{ exam.description }}</p>
                        <small class="bold"> <span class="list-label" >Duration:</span> {{ exam.duration }} minutes</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        
        {% include 'footer.html' %}
    </body>
</html>