.nav-logo{
    max-width: 50px;
    margin-left: 10px;
    transform: scale(1.2);
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-logo-heading{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #033E8C;
}
.nav-link{
    font-weight: 500;
    margin-left: 20px;
}
.nav-content-container{
    margin-left: 80px;
}

.nav-link:hover{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.form-container{
    max-width: 50%;
    margin-top: 100px;
    border:1px solid rgba(0, 0, 0, 0.125);
    border-radius: 15px;
     padding: 40px;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.form-group{
    margin-top: 10px;
}
.exam-list{
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}
.exam-title{
    color: #033E8C;
    font-weight: 700;
}
.exam-list:hover{
    transform: scale(1.02); 
    }

.radio-btn{
    transform: scale(1.3);
    margin-right: 10px;
}

.option-input{
    max-width: 30%;
    margin-left: 10px;
    display: inline;
}
.question-quiz{
    max-width: 60%;
    display: inline;
    margin-left: 10px;
}

.marks-label{
    padding-right: 20px;
}
.question-container{
    padding-left: 30px;
    border-left: 5px solid #033E8C;
}
.list-labels{
    font-size: 20px;
    color: #043473;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.list-label{
    font-size: 16px;
    color: #043473;
    font-weight: 700;
    letter-spacing: 0.4px;
}
.duration{
    font-weight: 700;
}
.timer{
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: #e2e1e1;
}
.timer-container{
position: fixed;
right: 20px;
top: 80px;

}
.duration{
    min-width: 70px
}

.question{
    border: 2px solid rgb(218,220,224);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.examination-container{
    background-color: #f0ebf8;
}

.jumbotron {
    background-image: url('background-image.jpg');
    background-size: cover;
    color: #033E8C;
    text-shadow: 1px 1px 4px #000000;
}

.jumbotron h1 {
    font-size: 3.5rem;
}
.feature-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.blinking-dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: green;
    border-radius: 50%;
    animation: blink 1s infinite alternate;
    margin-left: 5px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.link-home{
    display: inline-block;
}
.exam-intro{
    padding: 20px;
    border-radius: 15px;
    background-color: #f8f9fa;
    border-top: 10px solid rgb(103, 58, 183);
}

.pass{
    background-color: rgb(94, 171, 94);
    padding: 5px 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    min-width: 20px;
    font-weight: 700;
}
.fail{
    background-color: rgb(228, 123, 123);
    padding: 5px 15px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    
}
.bold{
    font-weight: 500;
}

.heading-font-1{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 35px;

}